<!DOCTYPE html>
<html lang="ru">
<%- include('layouts/header'); -%>

<body>
    <div class="updates">
        <h6>Вышло новое обновление фильтрации. Более детальная аналатики по категориям</h6>
    <h6><a href="#">ОЗНАКОМИТЬСЯ</a></h6>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-2 col-lg-3 col-md-6 col-xs-8">
                <%- include('layouts/navbar'); -%>
            </div>
            <div class="col-xl-8 col-lg-6 col-md-6  main-block">
                <div class="block-categories">
                    <h3>Перейти в категорию</h3>
                    <div class="row categories">
                        <div class="col-xl-3 col-lg-5 col-md-8 category">
                            <a href="/outdoorunderground">
                                <div class="img-category">
                                    <img src="/img/outdoorunderground.png">
                                </div>
                                <h4>Уличные площадки</h4>
                            </a>
                        </div>
                        <div class="col-xl-3 col-lg-5 col-md-8 category">
                            <a href="#">
                                <div class="img-category">
                                    <img src="/img/sport-section-1.png">
                                    <img src="/img/sport-section-2.png">
                                </div>
                                <h4>Спортивные секции</h4>
                            </a>
                        </div>
                        <div class="col-xl-3 col-lg-5 col-md-8 category">
                            <a href="#">
                                <div class="img-category">
                                    <img src="/img/maps-logo.png">
                                </div>
                                <h4>Новые объекты</h4>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="block-saved">
                    <h3>Сохраненные</h3>
                    <h6>Дата:</h6>
                    <div class="block-saved__dates">
                        <div class="block-saved__dates_date">
                            <p>От:</p>
                            <p class="date">16.10.2021</p>
                        </div>
                        <div class="block-saved__dates_date">
                            <p>До:</p>
                            <p class="date">16.10.2021</p>
                        </div>
                    </div>
                    <div class="row saved">
                        <div class="col-xl-4 col-lg-10 col-md-10 map-saved">
                            <div class="img-map-saved">
                                <img src="/img/map-saved.png">
                            </div>
                            <div class="block-about-saved-map">
                                <h3>Спортивные объекты</h3>
                                <h6>Район: Бабушкинский
                                    <br>Окружность: 1000м
                                    <br>Найдено: 4 объекта
                                </h6>
                                <div class="footer-about-saved-map">
                                    <button><a href="#">ПОДРОБНЕЕ</a></button>
                                    <h6>Дата: 21.10.2021</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>        
        </div>
    </div>
    <!--
        <h3>Сохраненные</h3>
                        <h6>Дата:</h6>
                        <div class="block-saved__dates">
                            <div class="block-saved__dates_date">
                                <p>От:</p>
                                <p class="date">16.10.2021</p>
                            </div>
                            <div class="block-saved__dates_date">
                                <p>До:</p>
                                <p class="date">16.10.2021</p>
                            </div>
                        </div>
                        <div class="map-saved">
                            <div class="img-map-saved">
                                <img src="/img/map-saved.png">
                            </div>
                            <div class="block-about-saved-map">
                                <h3>Спортивные объекты</h3>
                                <h6>Район: Бабушкинский
                                    <br>Окружность: 1000м
                                    <br>Найдено: 4 объекта
                                </h6>
                                <div class="footer-about-saved-map">
                                    <button><a href="#">ПОДРОБНЕЕ</a></button>
                                    <h6>Дата: 21.10.2021</h6>
                                </div>
                            </div>
                        </div>
    -->
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'test vue'
            },
        })
    </script>




    <!--
        <script>
    


        ymaps.ready(init);
        function init(){
            var myMap = new ymaps.Map("map", {
                center: [55.76, 37.64],
                zoom: 10
            });
            var myGeoObject = new ymaps.GeoObject({
                geometry: {
                    type: "Circle", 
                    name: 'Test name',// тип геометрии - точка
                    coordinates: [55.75389495991736,37.55155865005101],
                    radius: 1000 // координаты точки
                },
            }, {
                fillColor: 'rgba(255, 0, 0, 0.5)',
                strokeColor: 'rgba(255, 0, 0, 0.5)'

            });
            myMap.geoObjects.add(myGeoObject); 
        }
        
    </script>
    -->

</body>
</html>