<!DOCTYPE html>
<html lang="ru">
<%- include('layouts/header'); -%>

<body>

    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=<ваш API-ключ>" type="text/javascript"></script>
    <script src="geoobject_events.js" type="text/javascript"></script>
    <script src="https://yandex.st/jquery/2.2.3/jquery.min.js" type="text/javascript"></script>
    <script src="list_box_layout.js" type="text/javascript"></script>
    
    <style type="text/css">
        html, body, #map {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #my-listbox {
            top: auto;
            left: auto;
        }

        #log {
            width: 200px;
            height: 100px;
            position: absolute;
            left: 5px;
            bottom: 5px;
            opacity: 0.7;
            padding: 5px;
            font-family: Courier, sans-serif;
            font-size: 14px;
            background: white;
            overflow: auto;
        }
    </style>

    <div class="updates">
        <h6>Добро пожаловать на страницу с графиками. Вышло новое обновление фильтрации. Более детальная аналатики по категориям</h6>
    <h6><a href="#">ОЗНАКОМИТЬСЯ</a></h6>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-2 col-lg-3 col-md-6 col-xs-8">
                <%- include('layouts/navbar'); -%>
            </div>
            
            <div id="map" style="width: 800px; height: 600px; ">
                <div id="app">
                    {{ message }}
                </div> 
            </div>

        </div>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                
            },
        })
    </script>
            <script>
                axios.get('../test.json')
                        .then((response)=> {
                            this.objects = response.data.objects;
                            
                            points = [];    //Широта и долгота каждого спортивного объекта
                            pointNames=[];  //Названия спортивных объектов
                            dataPoints = this.objects;
                            //dataPoints.forEach(value => points.push(value.coordinates));
                            for(i=0; i<dataPoints.length; i++){
                                coord = [dataPoints[i].width, dataPoints[i].height];
                                points.push(coord);
                                pointNames.push(dataPoints[i].object);
                            }

        ymaps.ready(init);
        function init(){

            ////////////////////// КАРТА //////////////////////////
            var myMap = new ymaps.Map('map', {
                        center: [55.751574, 37.573856],
                        zoom: 9
                    }, {
                        searchControlProvider: 'yandex#search'
                    }),


////////////////////// ЛОГИКА РАБОТЫ ВЫПАДАЮЩЕГО СПИСКА РАЙОНОВ //////////////////////////
            // Создадим собственный макет выпадающего списка.
            ListBoxLayout = ymaps.templateLayoutFactory.createClass(
            "<button id='my-listbox-header' class='btn btn-success dropdown-toggle' data-toggle='dropdown'>" +
                "{{data.title}} <span class='caret'></span>" +
            "</button>" +
            // Этот элемент будет служить контейнером для элементов списка.
            // В зависимости от того, свернут или развернут список, этот контейнер будет
            // скрываться или показываться вместе с дочерними элементами.
            "<ul id='my-listbox'" +
                " class='dropdown-menu' role='menu' aria-labelledby='dropdownMenu'" +
                " style='display: {% if state.expanded %}block{% else %}none{% endif %};'></ul>", {

            build: function() {
                // Вызываем метод build родительского класса перед выполнением
                // дополнительных действий.
                ListBoxLayout.superclass.build.call(this);

                this.childContainerElement = $('#my-listbox').get(0);
                // Генерируем специальное событие, оповещающее элемент управления
                // о смене контейнера дочерних элементов.
                this.events.fire('childcontainerchange', {
                    newChildContainerElement: this.childContainerElement,
                    oldChildContainerElement: null
                });
            },

            // Переопределяем интерфейсный метод, возвращающий ссылку на
            // контейнер дочерних элементов.
            getChildContainerElement: function () {
                return this.childContainerElement;
            },

            clear: function () {
                // Заставим элемент управления перед очисткой макета
                // откреплять дочерние элементы от родительского.
                // Это защитит нас от неожиданных ошибок,
                // связанных с уничтожением dom-элементов в ранних версиях ie.
                this.events.fire('childcontainerchange', {
                    newChildContainerElement: null,
                    oldChildContainerElement: this.childContainerElement
                });
                this.childContainerElement = null;
                // Вызываем метод clear родительского класса после выполнения
                // дополнительных действий.
                ListBoxLayout.superclass.clear.call(this);
            }
        }),

        // Также создадим макет для отдельного элемента списка.
        ListBoxItemLayout = ymaps.templateLayoutFactory.createClass(
            "<li><a>{{data.content}}</a></li>"
        ),

        // Создадим 2 пункта выпадающего списка
        listBoxItems = [
            new ymaps.control.ListBoxItem({
                data: {
                    content: 'Москва',
                    center: [55.751574, 37.573856],
                    zoom: 9
                }
            }),
            new ymaps.control.ListBoxItem({
                data: {
                    content: 'Таганский район',
                    center: [55.75, 37.69],
                    zoom: 13
                }
            }),
            new ymaps.control.ListBoxItem({
                data: {
                    content: 'Даниловский район',
                    center: [55.70, 37.64],
                    zoom: 13
                }
            })
        ],

        // Теперь создадим список, содержащий 2 пункта.
        listBox = new ymaps.control.ListBox({
                items: listBoxItems,
                data: {
                    title: 'Выберите пункт'
                },
                options: {
                    // С помощью опций можно задать как макет непосредственно для списка,
                    layout: ListBoxLayout,
                    // так и макет для дочерних элементов списка. Для задания опций дочерних
                    // элементов через родительский элемент необходимо добавлять префикс
                    // 'item' к названиям опций.
                    itemLayout: ListBoxItemLayout
                }
            });

        listBox.events.add('click', function (e) {
            // Получаем ссылку на объект, по которому кликнули.
            // События элементов списка пропагируются
            // и их можно слушать на родительском элементе.
            var item = e.get('target');
            // Клик на заголовке выпадающего списка обрабатывать не надо.
            if (item != listBox) {
                myMap.setCenter(
                    item.data.get('center'),
                    item.data.get('zoom')
                );
            }
        });

        myMap.controls.add(listBox, {float: 'left'});
////////////////////// ЛОГИКА РАБОТЫ ВЫПАДАЮЩЕГО СПИСКА РАЙОНОВ //////////////////////////

 ///////////////////////////СЛОЙ 1 С КЛАСТЕРАМИ ///////////////////////////////////    
             
                    clusterer = new ymaps.Clusterer({
                        // Зададим массив, описывающий иконки кластеров разного размера.
                        clusterIcons: [
                            {
                                href: '/img/2151524.png',
                                size: [15, 15],
                                offset: [-20, -20]
                            },
                            {
                                href: '/img/2151524.png',
                                size: [20, 20],
                                offset: [-30, -30]
                            }], 
                        // Эта опция отвечает за размеры кластеров.
                        // В данном случае для кластеров, содержащих до 100 элементов,
                        // будет показываться маленькая иконка. Для остальных - большая.
                        clusterNumbers: [4],
                        clusterIconContentLayout: null
                    }),
                    getPointData = function (index) {
                        return {
                            balloonContentBody: 'балун <strong>метки ' + index + '</strong>',
                            clusterCaption: 'метка <strong>' + index + '</strong>'
                        };
                    },
                    
                    
                    /*
                    points1 = [
                        [55.831903, 37.411961], 
                        [55.763338, 37.565466], 
                        [55.763338, 37.565466], 
                        [55.744522, 37.616378],
                        [55.780898, 37.642889], 
                        [55.793559, 37.435983], 
                        [55.800584, 37.675638], 
                        [55.716733, 37.589988], 
                        [55.775724, 37.560840], 
                        [55.822144, 37.433781], 
                        [55.874170, 37.669838], 
                        [55.716770, 37.482338], 
                        [55.780850, 37.750210], 
                        [55.810906, 37.654142], 
                        [55.865386, 37.713329], 
                        [55.847121, 37.525797], 
                        [55.778655, 37.710743], 
                        [55.623415, 37.717934]
                    ],
                    
                    pointNames1 = [
                        ['Спорт площадка'],
                        ['Бассейнг'],
                        ['Кегельринг'],
                        ['бильярд'],
                        ['лыжная база'],
                        ['Слалом база'],
                        ['Роликовый центр'],
                        ['Сноуборд база'],
                        ['Хоккейная коробка'],
                        ['Ледяной дворец'],
                        ['Спорт площадка'],
                        ['Бассейнг'],
                        ['Кегельринг'],
                        ['бильярд'],
                        ['лыжная база'],
                        ['Слалом база'],
                        ['Роликовый центр'],
                        ['Сноуборд база']
                    ],
                    */
                    geoObjects = [];

                for (var i = 0, len = points.length; i < len; i++) {
                    geoObjects[i] = new ymaps.Placemark(points[i], getPointData(pointNames[i]));
                }

                clusterer.add(geoObjects);
                myMap.geoObjects.add(clusterer);

                myMap.setBounds(clusterer.getBounds(), {
                    checkZoomRange: true
                });

                // Добавляет на карту слой OSM.
                myMap.layers.add(new ymaps.Layer('http://tile.openstreetmap.org/%z/%x/%y.png', {
                    projection: ymaps.projection.sphericalMercator
                }));
                myMap.copyrights.add('© OpenStreetMap contributors, CC-BY-SA');

                

////////////////////// ПОЛИГОН //////////////////////////
            // Создаем многоугольник, используя вспомогательный класс Polygon.
            var myPolygon = new ymaps.Polygon([
                // Указываем координаты вершин многоугольника.
                // Координаты вершин внешнего контура.
                [
                    [55.75, 37.69],
                    [55.76, 37.70],
                    [55.74, 37.90],
                    [55.74, 37.69]
                ]
            ], {
                // Описываем свойства геообъекта.
                // Содержимое балуна.
                hintContent: "Многоугольник"
            }, {
                // Задаем опции геообъекта.
                // Цвет заливки.
                fillColor: 'rgba(255, 0, 0, 0.5)',
                strokeColor: 'rgba(255, 255, 0, 0.5)',
                // Ширина обводки.
                strokeWidth: 1
            });

            // Добавляем многоугольник на карту.
            myMap.geoObjects.add(myPolygon);
////////////////////// ПОЛИГОН //////////////////////////

////////////////////// СЛОЙ 3 //////////////////////////
            // Создаем многоугольник, используя вспомогательный класс Polygon.
            var tempMap = new ymaps.Polygon([
                // Указываем координаты вершин многоугольника.
                // Координаты вершин внешнего контура.
                [
                    [55.65, 37.69],
                    [55.66, 37.70],
                    [55.64, 37.90],
                    [55.64, 37.69]
                ]
            ], {
                // Описываем свойства геообъекта.
                // Содержимое балуна.
                hintContent: "Многоугольник"
            }, {
                // Задаем опции геообъекта.
                // Цвет заливки.
                fillColor: 'rgba(255, 0, 0, 0.5)',
                strokeColor: 'rgba(255, 255, 0, 0.5)',
                // Ширина обводки.
                strokeWidth: 1
            });

            // Добавляем многоугольник на карту.
            myMap.geoObjects.add(tempMap);
////////////////////// СЛОЙ 3 //////////////////////////

            setupControls(myMap, geoObjects, clusterer, myPolygon, tempMap);

        }

////////////////////// КНОПКИ КОНТРОЛЯ = СЛОИ //////////////////////////    
        function setupControls(map, geoObject, clusterer, myPolygon, tempMap) {
            var btnProperty = new ymaps.control.Button('Тепловая карта'),
                btnOption = new ymaps.control.Button('Полигоны'),
                btnRadius = new ymaps.control.Button('Кластеры');

            btnProperty.options.set('maxWidth', 200);
            btnOption.options.set('maxWidth', 200);
            btnRadius.options.set('maxWidth', 200);

            btnProperty.events.add(['select', 'deselect'], function (e) {
                tempMap.options.set('visible', e.get('type') == 'select' ? false : true);
            });
            btnOption.events.add(['select', 'deselect'], function (e) {
                
                myPolygon.options.set('visible', e.get('type') == 'select' ? false : true);
                //console.log(myPolygon);
            });
            btnRadius.events.add(['select', 'deselect'], function (e) {
                //geoObject.geometry.setRadius(e.get('type') == 'select' ? 0 : 1000);
                geoObject.forEach(element => element.options.set('visible', e.get('type') == 'select' ? false : true));
                //geoObject[0].options.set('visible', e.get('type') == 'select' ? false : true);
                clusterer.options.set('visible', e.get('type') == 'select' ? false : true);
                //console.log(geoObject[0].options);
                
            });

            map.controls
                .add(btnProperty)
                .add(btnOption)
                .add(btnRadius);
        }
////////////////////// КНОПКИ КОНТРОЛЯ = СЛОИ //////////////////////////   

})

    </script>

</body>
</html>